{
    "tabWidth": 2,
    "bracketSpacing": true,
    "singleQuote": false,
    "trailingComma": "none",
    "arrowParens": "always",
    "embeddedLanguageFormatting": "auto",
    "semi": true,
    "useTabs": false,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": true
    
}